# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\artan\Desktop\Artan\1-Fakultet\8-Materialet e semestrit te 8\EMT\LAB\LAB2\EMT-LAB2\lab2_frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
